@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=WindSong:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.social-link {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}
.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  gap: 8px;
  margin-top: 8px;
}

.social-link a {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid theme("colors.textWhite");
}

.social-link a:hover {
  border-color: theme("colors.primaryColor");
  transition: background-color 2s;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: theme("fontFamily.quickSand");
}

.img_bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_overlay {
  box-shadow: inset 0 0 0 2000px rgba(0 0 0 /0.4);
}

.btn-primary {
  background-color: theme("colors.primaryColor");
  border: 1px solid theme("colors.primaryColor");
  color: theme("colors.textWhite");
}
.btn {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid transparent;
  /* background: transparent; */
}
.btn-primary:hover {
  box-shadow: 0 0 10px theme("colors.primaryColor");
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #888;
}
.input {
  border: 1px solid theme("colors.primaryColor");
  padding: 8px 20px;
  border-radius: 6px;
}
.input-text {
  border: 1px solid theme("colors.primaryColor");
  padding: 8px 20px;
  border-radius: 6px;
}
