.group-date {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 200;
}

.banner-container {
  width: 90%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: max-content;
  z-index: 9;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: theme("colors.textWhite");
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.237);
}

.group-add {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
